/* ---------------- */
/*      Header      */
/* ---------------- */

/* Overall Header */
.desktop-flex > header {
  @include flex-justify(center);
  align-items: center;
  height: 25rem;
  margin-top: $nav-height;
  color: $primary-color-d;
  background-color: $secondary-color-d;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
}

/* Profile Name */
.profile-name-bold {
  font-weight: bold;
}

.profile-name {
  margin-top: 1rem;
  font-size: 3.052rem;
  text-align: center;
}

 /* Desktop */
 @media only screen and (min-width: 1024px) {
  .desktop-profile {
    padding: 1.5rem 6rem;
    background-color: $secondary-color-d;
    background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
  }

  .desktop-flex > header {
    margin-top: 0rem;
  }
}