/* ---------------- */
/*      Header      */
/* ---------------- */

/* Overall Header */
body > header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  margin-top: 7.5rem;
  background-color: var(--color-d-light);
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
  color: var(--color-d-dark);
}

/* Profile name */
.profile-name-bold {
  font-weight: bold;
}

.profile-name {
  margin-top: 1rem;
  font-size: 3.052rem;
  text-align: center;
}