nav {
  top: 0;
  position: fixed;
  height: 7.5rem;
  width: 100vw;
  background-color: #2D3047;
  color: #FF9B71;
 }
 
 #nav-words {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em 0 1.5em;
 }

#nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-button > img {
   width: 2rem;
   height: 2rem;
 }

#logo {
  font-size: 1.953rem;
  font-family: 'Bungee', sans-serif;
}

.emphasis {
  font-weight: bold;
}