/* ---------------- */
/*        Nav       */
/* ---------------- */

/* Set nav-bar to fixed */
nav {
  top: 0;
  position: fixed;
  height: 7.5rem;
  width: 100vw;
  background-color: var(--color-d-dark);
  color: var(--color-d-light);
 }

 .nav-logo {
  font-size: 1.953rem;
  font-family: 'Bungee', sans-serif;
}
 
 /* Nav label/words */
.nav-words {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em 0 1.5em;
 }

.nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Empasis on new tweet word -write- */
.nav-bold {
  font-weight: bold;
}

/* Button to create new tweets */
.nav-new-tweet > img {
   width: 2rem;
   height: 2rem;
}