form {
  margin-top: 2rem;
  color: #FF9B71;
}

form > label {
  font-weight: 600;
}

#tweet-text {
  display: block;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #FF9B71;
  resize: none;
  background-color: #2D3047;
  color: #FF9B71;
}

#tweet-submission {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  font-family: 'Bungee', sans-serif;
  font-size: 1.25rem;
}

#tweet-button {
  color: #FF9B71;
  background-color: #2D3047;
  padding: 0.4rem;
  border: 1px solid #FF9B71;
  border-radius: 0.6rem;
}

#tweet-button:hover {
  background-color: #FF9B71;
  color:#2D3047;
  border: 1px solid #FF9B71;
  cursor: pointer;
}

/* jQuery Event Calls */

.count-negative {
  color: #FF8AFD;
  border: 1px solid #FF8AFD;
  border-radius: 90%;
  padding: 0.3rem;
}