#scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 2.5rem;
  width: 6rem;
  height: 6rem;
  z-index: 99;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  color: var(--color-d-light);
  background-color: var(--color-d-dark);
  cursor: pointer;
}

/* Pseudo-Selectors */
#scroll-to-top-button:focus {
  outline: none;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  
  /* Pseudo-Selectors */
  #scroll-to-top-button:hover {
    color: var(--color-d-dark);
    background-color: var(--color-d-light);
  }
}
