#scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 2.5rem;
  width: 4rem;
  height: 4rem;
  line-height: 1rem;
  padding: 1rem;
  z-index: 99;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  color: var(--color-d-light);
  background-color: var(--color-d-dark);
  cursor: pointer;
}

/* Pseudo-Selectors */
#scroll-to-top-button:focus {
  outline: none;
}

/* Desktop */
#scroll-to-top-button:hover {
  /* border: 3px solid var(--color-d-dark); */
  color: var(--color-d-dark);
  background-color: var(--color-d-light);
}